include *.txt
include *.md
include *.pkl
recursive-include ./bikshare_model *

include bikshare_model/datasets/bike-rental-dataset.csv
include bikshare_model/datasets/test.csv
include bikshare_model/trained_models/*.pkl
include bikshare_model/VERSION
include bikshare_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]